<ion-view view-title="Redeem Rewards">
  <ion-content>
    <div class="list">
	    <a class="item item-thumbnail-left" href="#">
	      	<img src="img/brands/1b.jpeg">
	      	<h2>P20 discount on Burger Mcdo</h2>
	      	<p>Jollibee</p>
	      	<p>Discount claimable in any Jollibee branch nation wide</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      	<img src="img/brands/1b.jpeg">
	      	<h2>Free McChamp Aloha</h2>
	      	<p>Jollibee<br><i class="icon ion-earth"></i></p>
	      	<p>Free McChamp Aloha claimable in any Jollibee branch nation wide</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      	<img src="img/brands/2b.jpeg">
	      	<h2>Free Gulp</h2>
	      	<p>7Eleven<br><i class="icon ion-earth"></i></p>
	      	<p>Claimable in any Jollibee branch nation wide</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      	<img src="img/brands/3b.jpg">
	      	<h2>Buy 1 Take 4</h2>
	      	<p>Angel's Burger</p>
	      	<p>Claimable in any branch nation wide</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      	<img src="img/brands/4b.png">
	      	<h2>10% discount on next purchase</h2>
	      	<p>H&amp;M</p>
	      	<p>Claimable in any branch nation wide</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      	<img src="img/brands/5b.jpg">
	      	<h2>Free Claydoh on min P500 purchase</h2>
	      	<p>Bench/</p>
	      	<p>Claimable in any branch nation wide</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      	<img src="img/brands/6b.gif">
	      	<h2>Free bucket 4+1</h2>
	      	<p>San Miguel Company</p>
	      	<p>Claimable in any branch nation wide</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      	<img src="img/brands/7b.jpg">
	      	<h2>Free 3 Nights Stay</h2>
	      	<p>SOGO</p>
	      	<p>Claimable in any branch nation wide</p>
	    </a>
	</div>
  </ion-content>
  <!--button start-->
	<div class="float-button">
	 	<span class="height-fix">
		    <a class="content" href="#">
		      <i class="ion-camera"> </i>
		    </a>
	   </span>
	</div>
	<!--button end-->
</ion-view>
