<ion-view view-title="Friends">
  <ion-content>
    <ion-list>
      <a class="item item-avatar" href="#/app/friend-profile">
        <img src="img/humans/1h.jpg">
        <h2>Adrian White</h2>
        <p>Lv. 69 &#160; &#160; <i class="icon ion-fireball"></i> <i class="icon ion-umbrella"></i> <i class="icon ion-ios-people"></i></p>
        <p> I'm a strong independent woman 😝😝😝 </p>
      </a>
      <a class="item item-avatar" href="#/app/friend-profile">
        <img src="img/humans/2h.jpg">
        <h2>George Knows</h2>
        <p>Lv. 101 &#160; &#160; <i class="icon ion-fireball"></i> <i class="icon ion-umbrella"></i> <i class="icon ion-ios-people"></i></p>
        <p> 420 blaaaaaaaaaze ittt nigga🔥💦💩🍁</p>
      </a><a class="item item-avatar" href="#/app/friend-profile">
        <img src="img/humans/3h.jpg">
        <h2>Pearl Wall</h2>
        <p>Lv. 25 &#160; &#160; <i class="icon ion-fireball"></i> <i class="icon ion-umbrella"></i> <i class="icon ion-ios-people"></i></p>
        <p>Trans | Hipster | Febuary baby est.1995</p>
      </a><a class="item item-avatar" href="#/app/friend-profile">
        <img src="img/humans/4h.jpg">
        <h2>Marian Kidman</h2>
        <p>Lv. 49 &#160; &#160; <i class="icon ion-fireball"></i> <i class="icon ion-umbrella"></i> <i class="icon ion-ios-people"></i></p>
        <p>Bookworm💛HP💛DL💛#blessed💛</p>
      </a><a class="item item-avatar" href="#/app/friend-profile">
        <img src="img/humans/5h.jpg">
        <h2>Vector Pythorass</h2>
        <p>Lv. 112 &#160; &#160; <i class="icon ion-fireball"></i> <i class="icon ion-umbrella"></i> <i class="icon ion-ios-people"></i></p>
        <p>Ace Trainer😝😎😂 </p>
      </a>
      <a class="item item-avatar" href="#/app/friend-profile">
        <img src="img/humans/6h.jpg">
        <h2>Mike Fleshlightsone</h2>
        <p>Lv. 69 &#160; &#160; <i class="icon ion-fireball"></i> <i class="icon ion-umbrella"></i> <i class="icon ion-ios-people"></i></p>
        <p>Mettle God</p>
      </a>
    </ion-list>
  </ion-content>
  <!--button start-->
    <div class="float-button">
      <span class="height-fix">
          <a class="content" href="#">
            <i class="ion-camera"> </i>
          </a>
       </span>
    </div>
  <!--button end-->
</ion-view>
